@CHARSET "ISO-8859-1";

.formtable {
	width: 500px;
	padding: 10px;
	border: 1px solid;
}

input[type=text] {
	width: 250px;
}

input[type=password] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 100px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.recipes {
	padding: 20px;
	border: 1px solid grey;
}

span.stars, span.stars>* {
	display: inline-block;
	background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.stars>* {
	max-width: 80px;
	background-position: 0 0;
}

div.footer {
	font-size: small;
	color: grey;
}

div.content {
	position: relative;
	padding: 40px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
}

a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

a.title {
	color: white;
	font-size: 35px;
}

input.delete {
	border: 1px solid red;
}

 #button {
   color: red;
 }